<%- include ../partials/header.ejs %>

  <%- include ../partials/main_nav.ejs %>

    <div class="container">
      <div class="row"></div>
      <div class="offser-md-3 col-md-6"></div>
      <h1>
        <%= title %>
      </h1>
      <form class="form" method="post">
        <div class="form-group">
          <label for="nameTextField"></label>
          <input type="text" class="form-control" id="nameTextField" placeholder="Entern the Name" name="contact_name"
            value="<%=  businessContactsList.contact_name%>" required />
        </div>
        <div class="form-group">
          <label for="phoneTextField"></label>
          <input type="text" class="form-control" id="phoneTextField" placeholder="Entern the phone"
            name="contact_number" value="<%=  businessContactsList.contact_number %>" required />
        </div>
        <div class="form-group">
          <label for="emailTextField"></label>
          <input type="text" class="form-control" id="emailTextField" placeholder="Entern the Email" name="email"
            value="<%=  businessContactsList.email %>" required />
        </div>

        <button href="" class="btn btn-primary" type="submit"><i class="bi bi-plus"></i> submit</button>
        <a href="/contactInfo" class="btn btn-warning"> cancel</a>
      </form>
    </div>


    <%- include ../partials/bottom_nav.ejs %>

      <%- include ../partials/footer.ejs %>