<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <ul class="list-group list-group-flush">
    
    <% for(let count = 0; count < businessContactsList.length; count++) {%>
    <li class="list-group-item"><%=businessContactsList[count].contact_name %></li>
    <li class="list-group-item"><%=businessContactsList[count].contact_number %></li>
    <li class="list-group-item"><%=businessContactsList[count].email %></li>
    <%}%>
  </ul>
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




